head {
    background-color: #dad7cd;
    color: #344e41;
    padding: 20px;
    text-align: center;
}

.main-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    margin: 0;
    text-align: center;
}

.main-header2 {
    font-family: Arial;
    font-size: 2em;
    margin: 0;
    text-align: center;
    padding: 20px;
}

.img-main {
    display: block;
    margin: 0 auto;
    border: solid 1px #dad7cd;
    width: 500px;
    height: 400px;
    padding: 20px;
}

.img-main2 {
    display: block;
    margin: 0 auto;
    border: solid 1px #dad7cd;
    width: 500px;
    height: 400px;
    padding: 20px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1.2em;
    margin-left:auto;
    margin-right:auto;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:30px;
    padding-right:30px;
    border: solid 1px #dad7cd;
    width: 35%;
}

.text2 {
   font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1.2em;
    margin-left:auto;
    margin-right:auto;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:30px;
    padding-right:30px;
    border: solid 1px #dad7cd;
    width: 35%;
}

body {
    background-color: #dad7cd;
    color: #344e41;

}

nav {
    background-color: #dad7cd;
    color: #344e41;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

nav ul {
    background-color: #dad7cd;
    color: #344e41;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    list-style-type: none;

}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #344e41;
    text-decoration: firebrick;
}

header p {
    background-color: #dad7cd;
    color: #344e41;
    font-size: 1em;
    text-align: center;
    margin: 10px 10px 10px;
}

footer {
    background-color: #dad7cd;
    color: #344e41;
    text-align: center;
    margin: 10px 10px 10px;
    padding: 105px 0;
}